h2,
h3 {
  color: green;
}

.massage {
  background: rgb(211, 211, 211);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-enter {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s forwards;
}

.notification-exit {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.notification-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  pointer-events: none;
}

.notification-enter {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s forwards;
}

.notification-exit {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
